.start-panel {
    display: grid;
    grid-template-columns: 50px 175px 700px;
    gap: 5px;
}
.start-panel__icons {
    display: grid;
    grid-template-rows: 1fr repeat(5, auto);
}
.start-panel__grid {
    display: grid;
    align-content:start;
    grid-template-areas: 
    "a b"
    "c b";
}
.apps--office {
    grid-area: a;
}
.apps--web {
    grid-area: c;
}
.apps--other {
    grid-area: b;
}
.apps__grid {
    gap: 5px;
    display: grid;
    grid-template-columns: repeat(6, 50px);
    grid-template-rows: repeat(4, 50px);
}
.app--g2x2 {
    display: grid;
    grid-column-end: span 2;
    grid-row-end: span 2;
}
.app--g2x1 {
    display: grid;
    grid-column-end: span 1;
    grid-row-end: span 2;
}
.app--g1x2 {
    display: grid;
    grid-column-end: span 2;
    grid-row-end: span 1;
}
.app--off-3 {
    grid-column: 3;
}
.app--off-4 {
    grid-row:1/3;
    grid-column: 1/3;
}
.app--off-5 {
    grid-row: 1;
    grid-column: 5/7;
}
.app--in-3 {
    grid-column: 3;
    grid-row: 1/3;
}
.app--fun-2 {
    grid-row: 3/5;
    grid-column: 3/5;
}
.app--fun-3 {
    grid-column: 5/7;
}