.start-panel {
    display: grid;
    gap: 5px;
    grid-template-columns: 50px 175px 1fr;
}

.start-panel__icons {
    display: grid;
    gap: 5px;
    grid-template-rows: 1fr repeat(5, auto);
}

.start-panel__grid {
    display: grid;
    align-content: start;
    grid-template-areas:
        "office other"
        "web other";
    gap: 10px;
}

.apps__grid {
    gap: 5px;
    display: grid;
    grid-template-columns: repeat(6, 50px);
    grid-auto-rows: 50px;
}

.apps--other {
    grid-area: other;
}

.apps--office {
    grid-area: office;
}

.apps--web {
    grid-area: web;
}

.app--g2x2 {
    grid-column-end: span 2;
    grid-row-end: span 2;
}

.app--g2x1 {
    grid-column-end: span 1;
    grid-row-end: span 2;
}

.app--g1x2 {
    grid-column-end: span 2;
    grid-row-end: span 1;
}

.app--off-3 {
    grid-column: 3;
}

.app--off-4 {
    grid-row: 2/4;
    grid-column: 5/7;
}

.app--off-5 {
    grid-row: 1/2;
    grid-column: 5/7;
}

.app--in-3 {
    grid-column: 3;
    grid-row: 1/3;
}

.app--fun-2 {
    grid-row: 3/5;
    grid-column: 3/5;
}

.app--fun-3 {
    grid-column: 5/7;
    grid-row: 5/7;
}